h1 {
    color:black
}
th, td {
    padding: 15px;
    text-align: left;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color:#f2f2f2
}

th {
    background-color: rgb(98, 132, 243);
    color: black
}
